@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
    --grayish-blue: #8486a9;
    --white: #fff;
    --upper-plank-txt: #d65273;
    --upper-plank-bck: #2c2e44;
    --lower-plank-txt: #fb6087;
    --lower-plank-bck: #343650;
    --background: #1e1f29;
    --board-bck: #191a24;
    --base-dim: 11rem;
}

* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--background) url(./images/bg-stars.svg) no-repeat top;
    background-attachment: fixed;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 7.5rem 0 5rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#root::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(./images/pattern-hills.svg) no-repeat bottom;
    background-size: contain;
}

#root > * {
    position: relative;
    z-index: 5;
}

header h1 {
    color: var(--white);
    font-size: 1.5rem;
    padding: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

#container {
    display: flex;
    justify-content: center;
    margin: 5rem auto 0;
    width: min-content;
}

.board {
    position: relative;
    perspective: 100vw;
    margin: 0 calc(var(--base-dim) * 0.1);
    background-color: var(--board-bck);
    height: var(--base-dim)!important;
}

.board + h6 {
    color: var(--grayish-blue);
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-left: 0.25rem;
    font-size: 0.85rem;
}

.square {
    height: calc(var(--base-dim) - 0.75rem);
    width: var(--base-dim);
    border-radius: 0.5rem;
}

.plank {
    position: absolute;
    font-weight: bold;
    font-size: calc(var(--base-dim) / 2);
    text-align: center;
    line-height: calc(var(--base-dim) - 0.75rem);
    overflow: hidden;
}

.upper {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
    background-color: var(--upper-plank-bck);
    color: var(--upper-plank-txt);
}


.lower {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    background-color: var(--lower-plank-bck);
    color: var(--lower-plank-txt);
}

.upper::before, .upper::after, .lower::before, .lower::after {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: var(--board-bck);
    top: calc((var(--base-dim) - 1.75rem) / 2);
    border-radius: 100%;
    z-index: 10;
}

.upper::before, .lower::before {
    right: calc(100% - 0.5rem);
}

.upper::after, .lower::after {
    left: calc(100% - 0.5rem);
}

.flip-card-inner {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.flipping {
    transition: transform 0.9s;
    transform: rotateX(-180deg);
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.flip-card-back {
    transform: rotateX(180deg);
}


footer {
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 2rem 1rem 0;
    padding: 0.5rem;
}

footer div {
    height: 2rem;
    width: 2rem;
    background-color: var(--grayish-blue);
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: background-color 1s;
}

.icon-facebook {
    -webkit-mask-image: url(./images/icon-facebook.svg);
    mask-image: url(./images/icon-facebook.svg);
}

.icon-pinterest {
    -webkit-mask-image: url(./images/icon-pinterest.svg);
    mask-image: url(./images/icon-pinterest.svg);
}

.icon-instagram {
    -webkit-mask-image: url(./images/icon-instagram.svg);
    mask-image: url(./images/icon-instagram.svg);
}

footer a:hover div {
    background-color: var(--lower-plank-txt);
}

@media (max-width: 991px) and (min-width: 768px) {
    :root {
        --base-dim: 9rem;   
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    :root {
        --base-dim: 8rem
    }
}

@media (max-width: 576px) and (min-width: 425px) {
    :root {
        --base-dim: 6rem;
    }

    #root {
        padding-top: 2.5rem;
    }
}

@media (max-width: 425px) {
    :root {
        --base-dim: 7rem;
    }

    #container {
        flex-direction: column;
        margin-top: 2.5rem;
    }

    .board + h6 {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}